/*
	Syntax for CSS Ruke Sets

	Selector {
		property:value;
		property:value;
	}
*/


/*Universal Selector*/
* {
	font-family: "Roboto", sans-serif;
}
/* pasting with proper indention:
	ctr

*/
 
#landing, #about {
	height: 80vh;
	margin-bottom: 20vh;
}
body {
	background-color: #330055;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.91'%3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233c055d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23460d64' cx='50' cy='100' r='50'/%3E%3Cg fill='%234f146c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23591b74' cx='50' cy='200' r='50'/%3E%3Cg fill='%2362227c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%236c2884' cx='50' cy='300' r='50'/%3E%3Cg fill='%23762f8b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23803693' cx='50' cy='400' r='50'/%3E%3Cg fill='%238a3c9c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%239443a4' cx='50' cy='500' r='50'/%3E%3Cg fill='%239e4aac' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a851b4' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b358bc' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bd5fc4' cx='50' cy='700' r='50'/%3E%3Cg fill='%23c866cc' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d36ed5' cx='50' cy='800' r='50'/%3E%3Cg fill='%23de75dd' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e97ce5' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f484ee' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FF8BF6' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: contain;
}

#tools {
	height: 70vh;
}

h1,h2 p {
	font-family: "Monteserrat", sans-serif;
}


footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.fa-globe, .fa-facebook, .fa-x-twitter, .fa-youtube {
	font-size: 25px; 
	color:white; 
	margin: 0 10px 0 10px;
}


.fa-globe:hover, .fa-facebook:hover, .fa-x-twitter:hover, .fa-youtube:hover {
	color: violet;
}


.fa-html5, .fa-css3-alt, .fa-bootstrap {
font-size: 100px;
padding-top: 50px;
padding-bottom: 50px;
}